{% extends 'layout.html' %} 
{% block content %} 
{% include "navbar.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5">
  {% include "_messages.html" %}

  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm">
        <thead>
          <th>Sr</th>
          <th>Image</th>
          <th>Name</th>
          <th>Color</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Discount</th>
          <th>Subtotal</th>
          <th>Update</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {% for key, product in session['ShopingCart'].items() %}
            {% set discount="%0.2f" |format((product.discount/100)*product.price|float) %}
          <tr>
            <td>{{loop.index}}</td>
            <td>
              <img src="{{url_for('static',filename='images/'+product.image)}}" alt="{{product.name}}" width="50" height="45"/>
            </td>
            <td>{{product.name}}</td>
            <form action="{{url_for('updatecart',code=key)}}" method="post">
              <td>
                {% set color=product.colors.split(',') %}
                <label for="color">Colors:</label>
                <select name="color" id="color">
                  <option value="{{product.color}}" style="display: none">
                    {{product.color|capitalize}}
                  </option>
                  {% for colors in color %}
                   {% set col=colors.split(':') %}
                  <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                  {% endfor %}
                </select>
              </td>
              <td><i class="fa fa-inr"></i> {{product.price}}</td>
              <td>
                <input type="number" name="stock" name="stock" value="{{product.stock}}" min="1" max="10"/>
              </td>

              {% if product.discount > 0 %}
              <td>{{product.discount}}% &nbsp; is {{discount}}</td>
              {% else %}
              <td></td>
              {% endif %} 
                {% set subtotal=product.stock|int * product.price|float %}
                <td><i class="fa fa-inr"></i> {{"%0.2f"|format((subtotal|float)- discount|float)}}</td>
                <td><button type="submit" class="btn btn-sm btn-info">Update</button>
                </td>
            </form>
            <td>
              <a href="{{url_for('deleteitem',id=key)}}" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table table-sm">
        <tr>
          <td>
            <a href="{{url_for('get_order')}}" class="btn btn-sm btn-success float-left">Order Now</a>
          </td>
          <td width="35%"></td>
          <td colspan="3"><h4>Tax: ${{tax}}</h4></td>
          <td colspan="4"><h4>Grand Total: ${{grandtotal}}</h4></td>
          <td>
            <a href="{{url_for('clearcart')}}" class="btn btn-sm btn-danger float-right mr-4">Clear Cart</>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

<!-- {{session['ShopingCart']}} -->
