{% extends 'layout.html' %} 
{% block content %} 
{% include "navbar.html" %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static', filename='images/'+product.image_1)}}" alt="{{product.name}}" height="400" width="400">
        </div>
        <div class="col-md-6">
            <h4>Product name: {{product.name}}</h4>
            <hr>
            <p>Product price: <i class="fa fa-inr"></i> {{ product.price }}</p>
            
            {% if product.discount>0 %}
                <p>Product Discount: {{product.discount}} %</p>
            {% endif %}
            <hr>
            <b>Product Description</b>
            <p>{{product.description}}</p>
            <hr>
            <form action="{{url_for('AddCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-warning btn-sm">Add Cart</button>
                <label for="">Quantity:</label>
                <input type="number" name="stock" id="" value="1" min="1" max="{{product.stock}}">
                {% set color=product.color.split(',') %}
                <label for="color">Colors:</label>
                <select name="color" id="">
                    {% for colors in color %}
                      {% set col=colors.split(':') %}
                      <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                    {% endfor %}
                </select>
            </form>
            <!-- <a href="" class="btn btn-warning btn-sm">Add to cart</a> -->
                
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
          <hr>
            <img src="{{url_for('static', filename='images/'+product.image_1)}}" alt="{{product.name}}" height="100" width="100">
            <img src="{{url_for('static', filename='images/'+product.image_2)}}" alt="{{product.name}}" height="100" width="100">
            <img src="{{url_for('static', filename='images/'+product.image_3)}}" alt="{{product.name}}" height="100" width="100">

        </div>
    </div>
</div>

<script>
    var b_image=document.getElementById('b_image')
    var s_image=document.getElementById('s_image').getElementsByTagName('img')
    for(var i=0; i < s_image.length; i++)
    {
        s_image[i].addEventListener('click',full_image)
    }
    function full_image(){
        var ImageSRC=this.getAttribute('src')
        b_image.innerHTML="<img src="+ImageSRC+" width='400' height='400'>"
    }
</script>

{% endblock content %}
